node_modules/
*.env
.DS_Store
Thumbs.db
package-lock.json


/client/node_modules
/client/dist
/client/build
/client/package-lock.json


/server/node_modules
/server/logs
/server/upload
/server/package-lock.json
